{
    "parser": "babel-eslint",
    "rules": {
      "no-console": [0]
    },
    "env": {
        "browser": true
    },
    "globals": {
        "AndroidInterface": true,
        "window": true,
        "WebKitCSSMatrix": true,
        "webkitAudioContext": true,
        "require": true
    },
    "extends": "eslint:recommended"
}
